*cache_dir/
*finetuned_llm/
**.pkl
**.log
**.json
env_py38
env_py38/
env_*/
env_*
trained_models/
finetuned_llm*/
data/
libs/
**.csv
**.lock
**.jpg
**/lightning_logs/
**/.ipynb_checkpoints/
**/__pycache__/
**.pdf
**.zip
.history/
src/deprecated/
group_logs/
old_log/
images/
*bak/
outputs*/
runs/
smol-*/